.bold-label {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-text-fill: #4c11ba;
}
.label-class{
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: #ffffff;
}
