
.background {
    -fx-background-color: #9fbff5; /* gris muy claro azulado */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1e2a35; /* texto gris azulado oscuro */
    -fx-opacity: 0.7;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1e2a35;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1e2a35;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 25;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            #b5c7e0
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1e2a35;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #4b92ff; /* azul brillante */
    -fx-text-fill: white;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #d0d8e5 transparent #d0d8e5;
    -fx-background-color: transparent, #e6ecf6; /* azul muy suave */
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: #e6ecf6; /* azul muy claro */
}

.context-menu {
    -fx-background-color: #eef3fb;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1e2a35;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #d0d8e5;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #ffffff;
    -fx-text-fill: #1e2a35;
    -fx-border-color: #b5c7e0;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #4b92ff;
    -fx-border-width: 2;
    -fx-background-radius: 4;
    -fx-background-color: #e6ecf6;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #1e2a35;
}

.button:hover {
    -fx-background-color: #d8e6ff;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #4b92ff;
    -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: #4b92ff;
    -fx-border-width: 2;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.5;
    -fx-background-color: #e6ecf6;
    -fx-text-fill: #1e2a35;
}

.button:default {
    -fx-background-color: #4b92ff;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #6ca7ff;
}
